@page
@model IndexModel
@{
  
    var botName = "Антиспам бот";
    var botLink = "https://t.me/YN_AntispamBot";
    var botOwner = "https://t.me/EvgenyYushko";

    ViewData["Title"] = botName;
}


<div class="container my-5">
    <div class="card shadow-lg">
        <div class="card-header bg-primary text-white text-center py-4">
            <h1 class="display-5">🤖 @botName</h1>
            <p class="mb-0">Умный помощник в вашем чате</p>
        </div>
        <div class="card-body">
            <h3 class="text-center mb-4">📚 Описание</h3>
            <p>
                Этот бот-администратор создан для защиты вашего Telegram-канала от спама. Он автоматически управляет комментариями и контролирует ссылки в сообщениях, чтобы сохранить порядок и защитить участников от нежелательной активности.
            </p>
            <hr />
            <h3 class="text-center mb-4">✨ Возможности</h3>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">🚫 <strong>Удалять</strong> сообщения и посты с нецензурными выражениями</li>
                <li class="list-group-item">🚫 <strong>Удалять</strong> комментарии с ссылками</li>
                <li class="list-group-item">✅ Не удаляет комментарии со ссылками от пользователей из <strong>белого</strong> списка</li>
                <li class="list-group-item">📋 Исключает из удаления ссылки от каналов из <strong>белого</strong> списка</li>
                <li class="list-group-item">🔒 <strong>Отключает</strong> возможность комментирования для отдельных постов</li>
                <li class="list-group-item">✅ Приветствует новых пользователей в канале обясняя им правила чата</li>
            </ul>
            <hr />
            <h3 class="text-center mb-4">🚀 Быстрый старт</h3>
            <p>
                Чтобы начать использовать бота, выполните следующие шаги:
            </p>
            <ol class="list-group list-group-numbered">
                <li class="list-group-item">
                    Найдите бота в Telegram по имени:  Перейдите бота в Telegram:
                    <a href="@botLink" target="_blank">@botName</a>
                </li>
                <li class="list-group-item">Нажмите <strong>Start</strong>, чтобы активировать бота</li>
                <li class="list-group-item">Используйте команды или отправьте сообщение для взаимодействия</li>
                <li class="list-group-item">Добавте бота в администраторы дискуссионного чата вашего ТГ-канала</li>
                <li class="list-group-item">Дайте боту права на удаление сообщений и сдлеать его администратором</li>
            </ol>
            <hr />
            <h3 class="text-center mb-4">🔒 Настройки</h3>
            <ol class="list-group list-group-numbered">
                <li class="list-group-item">Добавте бота в администраторы дискуссионного чата вашего ТГ-канала</li>
                <li class="list-group-item">Дайте боту права на удаление сообщений</li>
                <li class="list-group-item">Для добалвения пользователей в <strong>белый</strong> напишите <a href="@botOwner" target="_blank">содателю бота</a></li>
            </ol>
            <h3 class="text-center mb-4">🔗 Полезные ссылки</h3>
            <div class="d-flex justify-content-center gap-4">
                <a class="btn btn-primary" href="https://core.telegram.org/bots/api" target="_blank">Telegram API</a>
                <a class="btn btn-secondary" href="https://docs.microsoft.com/aspnet/core" target="_blank">ASP.NET Core Docs</a>
            </div>
        </div>
    </div>
</div>
