name: Backup Database

on:
  schedule:
    - cron: '0 20 */10 * *'
  workflow_dispatch:        

jobs:
  refresh-db:
    runs-on: ubuntu-latest 
    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y jq postgresql-client

      - name: Install rclone
        run: |
          curl https://rclone.org/install.sh | sudo bash

      - name: Configure rclone
        env:
          RCLONE_CONFIG: |
            [gdrive]
            type = drive
            scope = drive.file
            service_account_file = /home/runner/service_account.json
        run: |
          mkdir -p ~/.config/rclone
          echo "$RCLONE_CONFIG" > ~/.config/rclone/rclone.conf

      - name: Create service account file
        env:
          GCP_SA_JSON: ${{ secrets.GCP_SA_JSON }}
        run: |
          echo "$GCP_SA_JSON" > /home/runner/service_account.json

      - name: Run script
        env:
          RENDER_API_KEY: ${{ secrets.RENDER_API_KEY }}
          RENDER_SERVICE_ID: ${{ secrets.RENDER_SERVICE_ID }}
          GOOGLE_DRIVE_FOLDER_ID: ${{ secrets.GOOGLE_DRIVE_FOLDER_ID }}
        run: |
          chmod +x scripts/refresh-db.sh
          ./scripts/refresh-db.sh

      - name: Send success message to Telegram
        if: success()
        run: |
          curl -s -X POST https://api.telegram.org/bot${{ secrets.TELEGRAM_TOKEN }}/sendMessage \
          -d chat_id=${{ secrets.TELEGRAM_CHAT_ID }} \
          -d text="✅ Backup Database completed successfully! https://github.com/${{ github.repository }}/commit/${{ github.sha }}"
            
      - name: Send failure message to Telegram
        if: failure()
        run: |
          curl -s -X POST https://api.telegram.org/bot${{ secrets.TELEGRAM_TOKEN }}/sendMessage \
          -d chat_id=${{ secrets.TELEGRAM_CHAT_ID }} \
          -d text="❌ Backup Database failed! https://github.com/${{ github.repository }}/commit/${{ github.sha }}"
