name: CD

on: 
  push:
    branches:
      - main
      
  pull_request:
    types:
      - closed
jobs:
  refresh-db:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y jq postgresql-client

      - name: Run script
        env:
          RENDER_API_KEY: ${{ secrets.RENDER_ANTISPAM_BOT_KEY }}
          RENDER_SERVICE_ID: ${{ secrets.RENDER_SERVICE_ID }}        
        run: |
          chmod +x scripts/refresh-db.sh
          ./scripts/refresh-db.sh
      - name: Check new_db_id.txt content
        run: |
            if [ -f new_db_id.txt ]; then
              echo "Файл new_db_id.txt найден. Содержимое:"
              cat new_db_id.txt
            else
              echo "Файл new_db_id.txt не найден!"
              exit 1
            fi
      - name: Extract NEW_DB_ID
        run: echo "NEW_DB_ID=$(cat new_db_id.txt)" >> $GITHUB_ENV
              echo $GITHUB_ENV 
  
